#AproposBanner{
    background-color: grey;
   display: flex;
   align-items: center;
  
  
}
#AproposBanner img{

    width: 40%;
    height: 100%; margin: 0 auto;
}
.A_propos_Section{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    margin-top: 40px;
    justify-content: center;
    width: 90%;
}

.A_propos_Section h1,.A_propos_Section p{
    margin:0 auto;
}
.A_propos_Section p{
    line-height: 20px;
}

.directeur{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
   
}
.directeur img{
    width: 40%;
    height:100%;
}
.description_photo{
    font-size: 25px;
    font-family:Lato,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.description_photo h1{
    font-family:"century gothic", "Trebuchet MS", arial, sans-serif;
    font-size:30px;
    margin: 0;
}
.section_mot_du_directeur{
    
    display: flex;
    flex-direction: column;
}
.section_mot_du_directeur p{
    columns:2;
    margin-top: 27px;
}
.Passage_en_gras{
    font-weight: bold;
}
.souligne{
    text-decoration: underline;
}
.section_mot_du_directeur h1{
text-decoration: underline;
}

@media only screen and (max-width: 768px){
    #AproposBanner img{
        
        width: 40%;
        height: 100%; 
        margin-top: 120px;
    }
    .directeur{
        display: flex;
        flex-direction: column;
        align-items: center;
      
        margin-top: 50px;
    }
   
    .directeur img{
        width:100%;
        height:auto ;
    }
    .description_photo{
        font-size: 20px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        justify-content: flex-start;
        width: auto;
        margin:0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
     
      
    

    }
    .description_photo span{

      text-align: center;
    }
    .description_photo h1{
        margin:5px 0 0 0;
        font-size: 22px;
    }
    .A_propos_Section p{
        font-family:Lato,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

       line-height: 20px;
        font-size: 15px;
        
    }
    .section_mot_du_directeur p{
        columns:initial;
        margin-top: 27px;
    }

}